<div class="course">
    <h1 id="course-title">{{course.title}}</h1>
    <img id="course-image" src="{{course.url}}" alt="{{course.title}}">
    <p id="course-price" class="price">{{course.price}}</p>
</div>